<div *ngIf="okArticle" class="article-preview">
  <app-article-meta [article]="article">
    <app-favorite-button
      [article]="article"
      (toggle)="toggleFavorite($event)"
      class="pull-xs-right"
    >
      {{ article.favoritesCount }}
    </app-favorite-button>
  </app-article-meta>

  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li
        class="tag-default tag-pill tag-outline"
        *ngFor="let tag of article.tagList"
      >
        {{ tag }}
      </li>
    </ul>
  </a>
  <br /><br />
  <div style="border: black 1px solid; width: fit-content">
    <a
      href="https://twitter.com/x?ref_src=twsrc%5Etfw"
      class="twitter-follow-button"
      data-show-count="false"
      >Follow on X</a
    >
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>

    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v21.0"
    ></script>
    <div
      class="fb-share-button"
      data-href="https://www.facebook.com/groups/elonmusk1/"
      data-layout=""
      data-size=""
    >
      <a
        target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fgroups%2Felonmusk1%2F&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore"
        >Partager</a
      >
    </div>
    <iframe
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/playlist/7jkjogyRLtdbWbHWTKCucn?utm_source=generator"
      width="100%"
      height="352"
      frameBorder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
  </div>
</div>
